.ivs-n-parseList {
  content: 1 2 3 4 5;
  content: list; }

.ivs-n-parseStr {
  content: "12345";
  content: string; }

.ivs-n-removeItemByIndex {
  content: 1345; }

.ivs-n-removeItemByVal {
  content: 1234; }
