@import '../error';

// 剪切字符串返回左右两边的列表及被裁剪后的片段
@function ivs-s-splice($str, $start, $end) {
	$len: str-length($str);
	$start: if($start>0, $start, $len + $start + 1);
	$end: if($end>0, $end, $len + $end + 1);
	
	$max: max($start, $end);
	$min: min($start, $end); 
	@if $min < 1 or $max > $len {
		@return ivs-error('e07');
	}
	
	$str-left: str-slice($str, 1, $min - 1);
	$str-right: str-slice($str, $max + 1, $len);
	
	// 被裁掉的部分
	$str-slice: str-slice($str, $min, $max);
	
	@return ($str-left, $str-right, $str-slice);
}

// 剪切字符串返回左右两边的列表及被裁剪后的片段
@function ivs-s-splice-q($str, $start, $q) {
	$start: if($start>0, $start, tr-length($str) + $start + 1);
	$end: $start + $q - 1;
	@return ivs-s-splice($str, $start, $end);
}

