@import '../_comm';
// 翻转列表
@function ivs-l-reverse($list...) {
	$newList: ();
	$list: ivs-isDualList($list);
	$i: length($list);
	@while $i > 0 {
		$newList: append($newList, nth($list, $i));
		$i: $i - 1;
	}
	@return $newList;
}